body {
    font-family: sans-serif;
    background: #F7EDE2;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #444;
}

fieldset {
    border: 2px solid #ccc;
    border-radius: 8px;
}

legend {
    padding-inline: 10px;
    margin: 5px;
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.toolbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 400px;
    gap: 10px;
}

.brush-size {    
    width: auto;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    background-color: #F28482;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.color-options, .brush-options {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 5px;
}

#colors {
    padding: 10px 10px;
    background-color: #F28482;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    border: 2px solid black;
}
.color-swatch {
    border: none;    
}

.color-swatch.active {
    border: 2px solid black;
}



.main {
    display: flex;
    width: 100%;
    justify-content: center;
}

.canvas-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 500px;
}

canvas {
    border: 2px solid #ccc;
    border-radius: 10px;
    display: block;
    background: white;
    /*width: 100%;*/
    height: auto;
}

.cute-frog {
    height: 100px;
    position: absolute;
    bottom: -15px;
    right: -40px;
    z-index: 2;
    pointer-events: none;
}